body {
  font-family: 'Raleway', sans-serif;
  color: #333333;
}


/* NavBar Styling */
.cd-auto-hide-header {
  background-color: rgb(144, 190, 179);
  opacity: 0.75;
  height: 7em;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 500;
  top: 0;
  transition: transform .5s;
}

.cd-auto-hide-header.is-hidden {
  transform: translateY(-100%);
}

.nav_bar ul {
  margin-right: 5em;
}

.nav_btn {
  float: right;
  display: inline-block;
  padding: 1.25em;
  font-weight: 300;
  font-size: 1.5em;
}

.nav_btn a {
  color: #333333;
}

.splash {
  background-color: rgb(144, 190, 179);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my_name {
  font-size: 4em;
  font-weight: 700;
  color: #333333;
}

.logoPic {
  height: 13em;
}


/* splash page rotating words */

.rw-wrapper{
	position: relative;
	font-family: 'Raleway';
}

.rw-sentence span{
	color: #333333;
	font-size: 1.25em;
	font-weight: normal;
}

.rw-words{
	display: inline;
}

.rw-words span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	width: 100%;
}

.rw-words-1 span{
	animation: rotateWordsFirst 20s linear infinite 0s;
}

.rw-words span:nth-child(2) {
	animation-delay: 4s;
	color: #333333;
}
.rw-words span:nth-child(3) {
	animation-delay: 8s;
	color: #333333;
}
.rw-words span:nth-child(4) {
	animation-delay: 12s;
	color: #333333;
}
.rw-words span:nth-child(5) {
	animation-delay: 16s;
	color: #333333;
}

@keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
	  25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}

/* about page styling */
#about {
   height: 45em;
   background-color: rgb(224, 235, 232);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .border-right{
   border-right: 1px solid #333;
 }

 .hexagon {
  position: relative;
  width: 200px;
  height: 115.47px;
  margin: 28px 65px;
  margin-right: auto;
  background-image: url("../img/emily2.jpg");
  background-size: auto 230.9401px;
  background-position: center;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 141.42px;
  height: 141.42px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 29.29px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 200.0000px;
  height: 115.47005383792516px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-57.7350px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-57.7350px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-57.7350px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -70.7107px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -70.7107px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 200.0000px;
  height: 115.4701px;
  z-index: 2;
  background: inherit;
}

 .hi {
   font-size: 3em;
   font-weight: 700;
   color: #333;
   font-family: 'Playfair Display', serif;
 }

 .about2 {
   padding-top: 2em;
   font-size: 2em;
 }

 .aboutP {
   font-size: 1.25em;
 }


/* projects page styling */
#projects {
  height: 45em;
  background-color: rgb(144, 190, 179);
}

.projHeader {
  font-size: 3em;
  font-weight: 700;
  color: #333333;
  font-family: 'Playfair Display', serif;
}

.projImg {
  border-radius: 0.3em;
}

.page-header {
  margin: 20px 0 20px;
}

.portfolio-item {
  height: 157px;
  border-radius: 0.3em;
}

.mainProjHead {
  font-family: 'Playfair Display', serif;
}

.mainProjP {
  font-size: 1.15em;
}

/*  Styling for Art Page  */

#art {
  background-color: rgb(224, 235, 232);
  height: 100%;
}

.artImg {
  height: 24em;
  margin-top: 2em;
}

.artHead {
  font-family: 'Playfair Display', serif;
}

.artP {
  font-size: 1.25em;
}

.artDesc {
  padding: 7em 3em 3em 3em;
}

/*  Styling for footer  */
footer {
  background-color: rgb(224, 235, 232);
  padding-top: 3em;
  padding-bottom: 1em;
}

.footP {
  font-size: 1.15em;
}
