body {
  font-family: 'Raleway', sans-serif;
  color: #333333;
}


/* NavBar Styling */
.cd-auto-hide-header {
  background-color: rgb(144, 190, 179);
  opacity: 0.75;
  height: 7em;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 500;
  top: 0;
  transition: transform .5s;
}

.cd-auto-hide-header.is-hidden {
  transform: translateY(-100%);
}

.nav_bar ul {
  margin-right: 5em;
}

.nav_btn {
  float: right;
  display: inline-block;
  padding: 1.25em;
  font-weight: 300;
  font-size: 1.5em;
}

.nav_btn a {
  color: #333333;
}

.splash {
  background-color: rgb(144, 190, 179);
  height: 45em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my_name {
  font-size: 4em;
  font-weight: 300;
  font-family: 'Playfair Display', serif;
  /*font-family: 'Homemade Apple', cursive;*/
  color: #333333;
}

.logoPic {
  height: 12em;
}

h3 {
  font-weight: 200;
  color: #333333;
}

/* about page styling */
#about {
  height: 100vh;
  background-color: rgb(224, 235, 232);
}

.about_img {
  border-radius: 100%;
  height: 15em;
}

.aboutTop {
  padding-top: 7em;
}

.hi {
  font-size: 3em;
  font-weight: 700;
  color: rgb(33, 125, 104);
  font-family: 'Playfair Display', serif;
}

.about2 {
  padding-top: 1.25em;
  font-size: 2em;
}

.aboutP {
  font-size: 1.25em;
}



/* projects page styling */
#projects {
  height: 100vh;
  background-color: rgb(144, 190, 179);
}

.projHeader {
  font-size: 3em;
  font-weight: 700;
  color: #333333;
  font-family: 'Playfair Display', serif;
}

.projImg {
  border-radius: 0.3em;
}

.page-header {
  margin: 20px 0 20px;
}

.portfolio-item {
  height: 157px;
  border-radius: 0.3em;
}

.mainProjHead {
  font-family: 'Playfair Display', serif;
}

.mainProjP {
  font-size: 1.15em;
}

/*  Styling for Art Page  */

#art {
  background-color: rgb(224, 235, 232);
  height: 100%;
}

.artImg {
  height: 24em;
  margin-top: 2em;
}

.artHead {
  font-family: 'Playfair Display', serif;
}

.artP {
  font-size: 1.25em;
}

.artDesc {
  padding: 7em 3em 3em 3em;
}

/*  Styling for footer  */
footer {
  background-color: rgb(224, 235, 232);
  padding-top: 3em;
  padding-bottom: 1em;
}

.footP {
  font-size: 1.15em;
}
